@import "./apps/mail/cmp/mail-filter.css";
@import "../css/apps/mail/cmp/mail-preview.css";
@import "../css/apps/mail/pages/mail-details.css";
@import "../css/apps/keep/cmp/note-preview.css";
@import "./apps/keep/cmp/note-list.css";
@import "./apps/keep/pages/note-app.css";
@import "./apps/mail/cmp/mail-folder-list.css";
@import "./apps/mail/pages/mail-app.css";
@import "./apps/mail/cmp/mail-compose.css";
@import "/css/apps/keep/cmp/note-toolbar.css";
@import "./apps/keep/cmp/note-img.css";
@import "./apps/keep/cmp/note-todos.css";
@import "./cmp/user-msg.css";
@import "./animation.css";
@import "../css/apps/keep/cmp/note-filter.css";
@import "./cmp/header.css";

* {
  box-sizing: border-box;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

li {
  list-style: none;
}

/* main app */

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* homepage */

.home-page-hero {
  background-color: lightblue;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 250px;
  align-items: center;
}

/* header */

.app-header-main {
  width: 100%;
  font-size: 1.5rem;
}

.app-header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 65px;
  padding: 0 20px;
  margin-bottom: 20px;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  margin-top: -1px;
}
.app-header-nav a {
  font-family: "Product Sans", Arial, sans-serif;
  margin: 0 10px;
  text-decoration: none;
  color: #5f6368;
}

.app-header-nav a:active {
  text-decoration: underline;
  text-decoration-color: #5f6368;
}

.app-header-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header-links a {
  margin: 0 10px;
}

/* helpers */
.pos-re {
  position: relative;
}

.screen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000054;
  z-index: 20;
}
