



.mail-compose-modal{
  display: flex;
  flex-direction: column;
}

.mail-compose-modal textarea{
    resize:none;
    width:100%;
    height:30vh;
    
}

.mail-compose-modal-header{
    display:flex;
    justify-content: flex-end;
}

.mail-compose-main{
  position: absolute;
    width:500px;
    height:500px;
    background-color: lightcoral;
    
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}