.mail-details{
    display: flex;
}


.mail-details-header{
 display:flex;   
 align-items: center;
 justify-content: space-evenly;
}

.mail-details-from-to{
    display:flex;
    flex-direction: column;
    padding:0 100px;
}

.mail-details-info{
    display:flex;
    align-items: center;
    
}
.mail-details-info button{
    border: 0;
    background-color: transparent;

}


.mail-details-body-img img{
    width:400px;
    height:400px;
}

.fas.fa-star:hover{
    color:gold;
}

.fas.fa-star.full{
    color: gold;
}

@media (max-width:790px){
    .mail-details {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
    
      }
      .mail-app-filters {
        width: 100%;
        padding-inline-end: 30px;
      }
}

