/* NEED TO FIX MOVING ICONS ON HEADER */

.fas.fa-envelope.special{
    color:rgb(148, 26, 26);
    transition: 0.4s;
    font-size: 35px;
}


.fas.fa-envelope.special:hover {
  color: rgb(255, 0, 0);
  transition: 0.3s;
   font-size: 35px;
   transform: translateY(-3px);
}

.logo-img{
    width:200px;
}

.fas.fa-book {
  color: rgb(45, 38, 148);
  transition: 0.3s;
   font-size: 35px;
}

.fas.fa-book:hover {
  color: blue;
transform: translateY(-3px);
}

.fa-sticky-note.special {
  color: goldenrod;
  transition: 0.3s;
   font-size: 35px;
}

.fa-sticky-note.special:hover {
  color: rgb(255, 217, 0);
transform: translateY(-3px);
}

.fas.fa-address-card {
  color: green;
  transition: 0.3s;
   font-size: 35px;
}

.fas.fa-address-card:hover {
  color: rgb(29, 201, 101);
transform: translateY(-3px);
}
