.note-toolbar {
  display: flex;
  position: absolute;
  right: 14px;
  top: 2px;
  align-self: start;
  width: 70px;
  justify-content: space-evenly;
}

.input-txt {
  height: 35px;
  width: 350px;
}

.input-img {
  height: 35px;
  width: 350px;
}

i {
  cursor: pointer;

}

i.i-toolbar-order {
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid transparent;
}



i.i-toolbar-order:hover {
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(245, 245, 245);
  border-radius: 20px;

}
 