.note-preview-txt,
.note-preview-the-img,
.note-preview-todos {
  width: 250px;
  min-height: 110px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
    overflow-wrap: break-word;
    line-break: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-preview-each-note:hover {
  box-shadow: 0 0 5px;
}
.note-preview-each-note {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.note-preview-txt {
  text-align: center;
  font-size: 1.2rem;
  overflow-wrap: break-word;
  line-break: auto;
  
}

.note-preview-img {
  text-align: center;
  width: 250px;
  min-height: 110px;
  border-radius: 20px;
}

.note-preview-the-img img {
  width: 100%;
  height: 100%;
}

.note-preview-todos {
  text-align: center;
  line-break: auto;
}

.time-format {
  background: aqua;
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  width: 50%;
  align-self: end;
  margin-top: 20px;
  font-size: 14px;
}

.note-prev-navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  gap: 10px;
}
