.note-list-container {
  display: flex;
  /* background: green; */
  width: 95%;

  justify-content: center;
}

.note-list-notes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
}
