.note-list-container {
  display: flex;
  /* background: green; */
  width: 95%;

  justify-content: center;
}

.note-list-notes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  padding: 0px 25px;
}
